@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: cover;
  color: white;
  overflow: hidden;
}
.container{
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

