body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: cover;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

