body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: cover;
    color: white;
    overflow: hidden;
}
.container{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px ;
}
.background_register{
    background-image: url("../img/Signup.svg");
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: cover;
}
.Section_register {
    display: inline-flex;
    height: 90vh;
    width: 62vh;
    padding: 17px 40px 47px 40px;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid var(--Glass1-Stroke-Carey, #AFAFAF);
    background: var(--Glass1-Fill-Carey, linear-gradient(321deg, rgba(191, 191, 191, 0.06) 5.98%, rgba(0, 0, 0, 0.00) 66.28%), rgba(0, 0, 0, 0.14));
    box-shadow: -8px 4px 5px 0px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(26.5px);
}

.form_inputs {
    display: flex;
    flex-direction: column;

}

.form_input {
    display: flex;
    width: auto;
    height: 45px;
    padding: 14px 16px;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #FFF;
    outline: none;
    backdrop-filter: blur(26.5px);
    background-color: rgba(0, 0, 0, 0);
    /* اللون الأسود مع شفافية كاملة */
}
.but_singup {
    display: flex;
    height: 45px;
    width: auto;
    padding: 14px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
background: linear-gradient(91deg, #2E4CEE 9.91%, #221EBF 53.29%, #040F75 91.56%);
}
